<div id="nav-container">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/aboutme">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/services">Service</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-disabled="true" href="/contactme">Contact</a>
    </li>
</ul>
</div>
